<div class="container mt-5">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Mostrar los totales del club -->
  <div class="instagram-style-card shadow-lg" *ngIf="totalClub">
      <h1 class="text-center mb-4">Total del Club</h1>
      <table class="table">
          <tbody>
              <tr>
                  <th scope="row">Nombre del Club:</th>
                  <td>{{ totalClub.club_nombre }}</td>
              </tr>
              <tr>
                  <th scope="row">Total de Acampantes:</th>
                  <td>{{ totalClub.total_acampantes }}</td>
              </tr>
              <tr>
                  <th scope="row">Total a pagar $:</th>
                  <td>{{ totalClub.total_club | number:'1.0-0' }}</td>
              </tr>
          </tbody>
      </table>
  </div>

  <div class="instagram-style-card shadow-lg text-center p-4 mt-4" *ngIf="!totalClub">
      <p class="text-danger">No se encontraron datos del total del club.</p>
  </div>

  <!-- Mostrar los archivos -->

  <!-- Mostrar los archivos -->
  <div *ngIf="archivos.length > 0">
    <h1 class="text-center mt-4">Archivos del Club</h1>
    <div class="list-group mt-3">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre del Archivo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archivo of archivos">
            <td>{{ archivo.id }}</td>
            <td>{{ archivo.name }}</td>
            <td>
              <button (click)="descargarArchivo(archivo.id!)" class="btn btn-info">Descargar</button>
              <button (click)="eliminarArchivo(archivo.id!)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="text-right mb-1">
      <a [routerLink]="['/archivos/create', clubId]" class="btn btn-primary">Subir recibo de Pago</a>
  </div>
</div>

  