#file-name {
    display: block;
    margin-top: 10px;
  }
  
  .btn-primary {
    cursor: pointer;
  }
  
  .form-group {
    position: relative;
  }
  
  #file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .form-control-file {
    display: none; /* Continúa ocultando el input real */
  }
  